images/
.env/
env/
.ruff_cache
__pycache__
faiss.index
paths.npy
p.md
p2.md
tree.sh
node_modules/
package-lock.json
backend/video_faiss.index
backend/video_metadata.npy
frames/
uploads/
videos/
issue.md
p1.md
video_faiss.index
video_metadata.npy
